@charset 'utf-8';

/*タブレット以下のCSS*/
@media (max-width: 991px){
    .toppage {
      /* 画像ファイルの指定 */
      background-image: url(../images/top2.jpg);
       
      /* 画像を常に天地左右の中央に配置 */
      background-position: center center;
       
      /* 画像をタイル状に繰り返し表示しない */
      background-repeat: no-repeat;
       
      /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
      background-attachment: fixed;
       
      /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
      background-size: cover;
       
      /* 背景画像が読み込まれる前に表示される背景のカラー */
      background-color: white;
      
      height: 100%;
    }
    
    .block-one img{
      margin-top: 250px;
    }
    
    .login{
      margin-top: 100px;
    }
    
    .createpage h1{
    font-size:25px;
    }
    
    .search_result h2{
      font-size:15px;
    }
    
    .form-group .half-form{
    width:100%;
    }
    
    .form-group .quarter-form{
    width:25% ;
    }
    
    .form-group .small-form{
    width:20%;
    }
    
    .nomform .form-control{
    margin-right: 0px ;
    font-size: 10px ;
    }
    
    .form-group p {
    margin: 0;
    font-size: 10px;
    padding: 4px !important;
    }
    
    select{
      font-size: 14px;
    }

    .first-form{
      float:left;
    }
    
    .input_button{
    width: 12% !important;
    }

    .gigigi{
      width:43% !important;
    }

    .category-search{
      width: 29% !important;
    }

    .create th{
      font-size: 10px !important;
      padding-top: 16.5px !important;
    }
    .menu-btn {
    position: fixed;
    display: block;
    top: 40px;
    right: 40px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    }
    .nokori{
      font-size: 100px;    
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .nokoritop{
          font-size: 40px;
          width: 100px;
          margin-top: 50PX;
          margin-bottom: 10px;
    }
    .tyonmage{
      margin-top: 0;
    }
    .sankasya{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 25px;
        width: 110px;
    }
  /*検索ページの画像たち*/
    .groups img{
      width: 100% !important;
    }
    
    
    .each_group{
      width: 31%;
      margin-left: 3px;
      
    }

    .each_group p{
      width: 100%;
      font-size: 10px;
    }
    
    .ichiran img{
      width: 100%;
    }
    
    .each_user{
      width: 31%;
      margin-left: 3px;
    }
    
    .each_user p{
      width: 100%;
      font-size: 13px;
    }
    
    .ramumoji{
      width: 100%;
    }
    
    .ramumoji h2{
      font-size: 27px;
      letter-spacing: 1px;
      margin-top: 10px;
    }
    
    .ramumoji h3{
      font-size: 15px;
    }
    
    .nokoritop{
      margin-top: 15px;
      font-size: 25px;
      width: 60px;
    }
    
    .nokori{
      font-size: 40px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .tyonmage h1{
      font-size: 25px;
      width: 80px;
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    .tyonmage{
      padding-bottom: 15px;
    }
    
    .ramuimg img{
      width: 170px;
      float: unset;
      margin-right: 0;
      margin-top: 30px;
    }
    
    hr{
      height: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    td{
      color: white;
      font-size: 14px;
    }
    
    .bab{
      width: 100px;
    }
    
    /*.groups{*/
    /*  padding-left: 7px;*/
    /*}*/
    
    .form-group{
      margin-left:5px;
      margin-right:5px;
    }
    
    .confirm th{
      font-size: 10px !important;
      padding-top: 12px !important;
      height: 38px !important;
    }
    
    .confirm p{
      color: black;
      font-size: 12px;
      margin: 0;
      padding-top: 2px;
    }    
    
    .confirm td{
      padding: 0;
    }

  .confirm-btn p{
    height: 34px;
    padding: 7px 0;
    font-size: 13px;
  }
  
  .aho{
    width: 100% !important;
  }
    
  .favorian{
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .favos{
    background-color: orange;
    margin: 0;
    padding-bottom: 1px;
  }
  
  .each_request th{
    width:65%;
  }
  
  .each_request img{
    margin-bottom: 5px;
    margin-left:10px;
    width: 50px;  
  }
  
  .each_request p{
    font-size: 15px;
    width: 58px;
  }

  .requestback p{
    font-size: 15px;
  }
  
  .requestlist {
    width:100%;
    margin-top:20px;
  }

  .minami p{
    font-size:15px;  
    margin-left:10px;
  }

  .requests h2{
    font-size: 20px;
  }

  .tasseiform input[type= 'text'] {
  width: 95px;
  }
  
  .tasseiform input[type= 'submit'] {
  width: 55px;
  }
  
  .myrequests {
    width:95%;
    margin-top:20px;
  }
  
  .myrequest th{
    font-size: 13px !important;
  }
  
  .myrequest p{
    font-size: 13px !important;
    width:100%;
    margin:0;
    text-align:center;
    padding: 5px !important;
  }
  
  .myrequest a{
    color: black;
    text-decoration: none;
  }
  
  .megumi {
    float: left !important;
    margin-top: 10px;

  }
  
  .hankaku {
    float: right;
  }
  .popup .close {
    position: absolute;
    bottom: 1%;
    right: 1%;
    transition: all 200ms;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: green;
    opacity: 2;
    z-index: 1000;
    background-color: white;
    padding: 5px 10px;
  }
  
  .Abutton{
    padding: 0 10px;
  }
  .groupbtn .btn{
    border: solid 1px black !important;
    background: transparent;
    color: black;
  }
  
  .groupbtn .btn:hover{
   background-color: #5cb85c;
   color: white;
  }
  
  .minamidesu{
    width: 32%;
    float: left;
  }
  
  .minamidesu .btn{
    border: solid 1px black !important;
    background: transparent;
    width: 100% !important;
    color: black;
    float: left;
  }
  
  .minamidesu .btn:hover{
   background-color: #5cb85c;
   color: white;
  }
  
  .minamidayo{
    width: 100%;
    float: left;
  }
  
  .minamidayo .btn{
    border: solid 1px white !important;
    background: transparent;
    width: 100% !important;
    color: white;
    float: left;
  }
  
  .minamidayo .btn:hover{
   background-color: white;
   color: green;
  }
  
  .downest{
    background-color:	white;
    background-size: 100%;
    height: 100%;
    min-height: 55px;
    width:100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .papabox{
    width: 130px;
  }
  
  .carousel-control{
    opacity: 1;
  }
   

.henkouhidari{
    width:40%;
    margin: 0;
    padding: 0;
    float: left
  }
  
  .henkoumannaka{
    width:12%;
    padding: 0;
    float: left;
    font-size: 40px;
    margin-top: 30px;
    color: #5cb85c;
  }
  
  .henkoumigi{
    width: 48%;
    height: 93px;
    margin: 0;
    padding: 0;
    float: left;
    padding-left: 10px;
  }
  
  .tasseihenkou{
    width:100%;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 95px;
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
  }
  
  input.form-control.tasseikaeru{
    width:55%;
    font-size: 14px;
    height: 50px;
    margin: 0;
  }
  
  .tasseihenkou input[type= 'submit'] {
    width:37%;
    height: 50px;
    font-size: 14px;
  }
  
  
  .henkouhidari h2{
    font-size:50px;
    color: black;
    text-align: center;
    margin: 0;
    font-weight: bold;
    text-shadow: none;
  }
  
  .henkoumigi h4{
    font-size: 13px;
    margin-right:10px;
  }
  .henkouhidari h4{
    font-size: 13px;
    margin-left: 5px;  
    
  }
  
  .favoB input[type='submit']{
    top: -10px;
  }
  
  .favoB{
    height: 50px;
  }
  
  .yourstatus h4{
    margin-right: 0;
    padding-top: 0;
  }
  
  .yoursamount h4{
    margin-left: 0;
    padding-top: 0;
    margin: 0;
  }
  
  .jitsu{
    float: none !important;
    padding: 0 !important;
  } 
  
  .nav-pills.nav-justified>li.aaa>a{
  background-color: orange;
  color: white;
  padding: 5px 0;
}
 .nav-pills.nav-justified>li.ccc>a{
  background-color: #5cb85c !important;
  color: white;
  padding: 5px 0;
}

 .nav-pills.nav-justified>li.bbb>a{
  background-color: skyblue;
  color: white;
  padding: 5px 0;
}

 .nav-pills>li>a{
  border-radius: 0;
}


 .aho li{
  padding: 0 !important; 
}

 .baka{
  text-align:center;
}

 .nav-justified>li>a{
  margin-bottom: 0;
}
  
  .aho li{
  margin: 0 !important;
}

.nav-justified>li{
  float: left !important;
  
}

.aho a{
  font-size: 13px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0 !important;
}

.aho span{
  font-size: 13px !important;
}

.ccc{
  margin-left: .01px !important;
}

.xxx h2{
  font-size: 20px;
}

.du h4{
  font-size: 13px;
}

.tasseiphoto {
  width: 110px;
}

.tasseiphoto p{ 
  width: 100%;
}

.tasseiphoto img{
  width: 94% !important;
}

.tasseigroups{
  padding-left: 0px;
  padding-right: 0px;
}

.tasseisuu h2{
  font-size: 24px;
}

.tasseisuu h1{
  font-size: 60px;
}

} 