@charset 'utf-8';
    
.toppage {
  /* 画像ファイルの指定 */
  background-image: url(../images/top.jpg);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: white;
  
  height: 100%;

}

.top-button{
  position: fixed;
  bottom: 50px;
}

.login h3{
  /*h3という箱の横幅を指定*/
  width: 50%;
  /*h3の中の文字を右ぞろえにする*/
  text-align: right;
  /*h3という箱を右にずらす*/
  float: right;
  /*文字の色*/
  color: white;
  /*文字サイズ*/
  font-size: 15px;
}

.groups img{
  width: 105px;
}

.groups{
  text-align: center;
}

.each_group{
  display: inline-block;
}

.each_group p{
  width: 105px;
}

.show{
  text-align: center;
}

.show img{
  height: 200px;
}

.search_result img{
  width: 200px;
}

.result{
  display: inline-block;
  text-align: center;
}