@charset 'utf-8';

body {
    font-family: Yu Gothic;
}

div #out img{
	-webkit-animation: fadeout 10s linear 0s 1;
  padding: 200px;
  position: absolute;
  background-color: white;
  z-index: 3;
	height: 0;
}


@-webkit-keyframes fadeout {
	0% {
		opacity :1;
		height: 500px;
	}
	95%{
	  opacity: 1;
		height: 500px;
	}
	100% {
		opacity:0;
	}
}


.toppage {
  /* 画像ファイルの指定 */
  background-image: url(../images/top2.jpg);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: white;
  
  height: 100%;

}

.top-button{
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  }
  
.login{
  z-index: 2;
  position: absolute;
  top: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin-top: 20%;
}

.login h3{
  display: block;
  /*h3という箱の横幅を指定*/
  width: 100%;
  /*h3の中の文字を右ぞろえにする*/
  text-align: center;
  /*文字の色*/
  color: white;
  /*文字サイズ*/
  font-size: 16px;
  /*行間開ける*/
  line-height: 200%;
  
  text-shadow: 1px 1px 3px black;
}

.login h3 p{
  line-height: 250%;
  font-size: large;
}

.groups img{
  width: 105px;
}

.groups{
  text-align: center;
}

.each_group{
  display: inline-block;
}

.each_group p{
  width: 105px;
}

.show{
  text-align: center;
}

.show img{
  height: 200px;
}

.search_result img{
  width: 200px;
}

.result{
  display: inline-block;
  text-align: center;
}

.user_name h1{
  text-align: center;
}

input[type = 'text'] {
  width: 85%;
}

input[type= 'submit'] {
  width:10%;
}

 /* フォームの幅を調節 */


.form-group .full-form{
  width:100%;
}

.form-group .half-form{
  width:50%;
}

.sankashiteru{
  display: inline-block;
}

.sankashiteru img{
  width: 80px;
  height: auto;
}

.sankashiteru h3{
  margin: 0;
}

.tasseiform{
  width: 50%;
  text-align: center;
  margin: auto;
}

.tasseiform .form-group{
  display: inline-block;
  text-align: center;
}



.sankashiteru{
  text-align: center;
  display: block;
}


.input_button{
  background-color:green;
  width: 100px !important;　
  
}

/*.form-inline{*/
/*  width: 300px;*/
/*}*/

.bobobo{
  color: white;
}

.gigigi{
  width:50% !important;

}




.form-group .quarter-form{
  width:18%;
}

.form-group .small-form{
  width:10%;
}

.form-control{
  margin-right: 5px ;
  font-size: 12px ;
}

.form-group p {
    padding: 3.5px;
    margin: 0;
    height: 27.6px;
    font-size: 15.6px;
}

.box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.box .sankashiteru{
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.search select{
  height:32px;
}

.wankos{
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 50%;
  line-height: 300%;
  /*border-radius: 50%;*/
  border: solid 1px white;
  text-shadow:2px 2px 2px black;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px black;
}

.wankos:hover{
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
  color: skyblue;
}
