@charset 'utf-8';

body {
    font-family: Yu Gothic;
}

.block-one img{
  margin-top: 18%;
}

.block-one {
  text-align: center;
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .block-two {
      display: none;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }


.toppage {
  /* 画像ファイルの指定 */
  background-image: url(../images/top2.jpg);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: white;
  
  height: 100%;

}

.top-button{
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  }
  
.login{
  z-index: 2;
  position: absolute;
  top: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin-top: 20%;
}

.login h3{
  display: block;
  /*h3という箱の横幅を指定*/
  width: 100%;
  /*h3の中の文字を右ぞろえにする*/
  text-align: center;
  /*文字の色*/
  color: white;
  /*文字サイズ*/
  font-size: 16px;
  /*行間開ける*/
  line-height: 200%;
  
  text-shadow: 1px 1px 3px black;
}

.login h3 p{
  line-height: 250%;
  font-size: large;
}



.groups img:hover{
  width: 150px;
  filter:brightness(100%);
}

.groups img{
  width: 150px;
  filter:brightness(70%);
}


.groups{
  text-align: center;
}

.each_group{
  /*画像を横並びにする*/
  display: inline-block;
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 5px;
}

.each_group p{
  color: white;
  width: 150px;
  top: 50%;
  
  position: absolute;
  font-weight: bold;
}

.show{
  text-align: center;
}

.show img{
  height: 200px;
}

.search_result img{
  width: 200px;
}

.result{
  display: inline-block;
  text-align: center;
}

.user_name h1{
  text-align: center;
}

input[type = 'text'] {
  width: 85%;
}

input[type= 'submit'] {
  width:10%;
}

 /* フォームの幅を調節 */


.form-group .full-form{
  width:100%;
}

.form-group .half-form{
  width:50%;
}

.sankashiteru{
  display: inline-block;
}

.sankashiteru img{
  width: 80px;
  height: auto;
}

.sankashiteru h3{
  margin: 0;
}

.tasseiform{
  width: 50%;
  text-align: center;
  margin: auto;
}

.tasseiform .form-group{
  display: inline-block;
  text-align: center;
}



.sankashiteru{
  text-align: center;
  display: block;
}


.input_button{
  background-color:#5cb85c;
  width: 10% !important;　

}

/*.form-inline{*/
/*  width: 300px;*/
/*}*/

.bobobo{
  color: white;
}

.gigigi{
  width:40% !important;
}

.form-group .quarter-form{
  width:18%;
}

.form-group .small-form{
  width:10%;
}

.form-control{
  margin-right: 5px ;
  font-size: 14px ;
}

.form-group p {
    padding: 7px;
    margin: 0;
    height: 34px;
    font-size: 15.6px;
}

.box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.box .sankashiteru{
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.search select{
  height:32px;
}

.wankos{
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 50%;
  line-height: 300%;
  /*border-radius: 50%;*/
  border: solid 1px white;
  text-shadow:2px 2px 2px black;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px black;
}

.wankos:hover{
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
  color: skyblue;
}
.pon{
  margin-top:40px;
}

.ton{
  border-color:black;
  margin-bottom:2px;
  font-size: 12px;
}

.category-search{
  width: 25% !important;
}

.first-form{
  float:left;
}

.create th{
  font-size: 15px !important;
  padding-top: 16.5px !important;
}

.du{
  border-bottom: solid;
  border-bottom-width: 1px;
}

.vo a:link{
  color: black; 
}

.vo a:visited{
  color: black; 
}

.vo a:hover{
  color: gray; 
}

.vo a:active{
  color: black; 
}
